[tools]
node = "latest"
rust = "stable"

[env]
CONTAINER_IMAGE_NAME = "arcdev-llc/rqbit"
CONTAINER_REGISTRY   = "ghcr.io"
CONTAINER_VERSION    = "0.1.3"
TARGET_PLATFORM      = "linux/amd64"

[tasks.build]
run = '''
docker buildx build \
  --build-arg TARGETPLATFORM=$TARGET_PLATFORM \
  -t $CONTAINER_REGISTRY/$CONTAINER_IMAGE_NAME:$CONTAINER_VERSION \
  -t $CONTAINER_REGISTRY/$CONTAINER_IMAGE_NAME:latest \
  .
'''

[tasks.dev]
run = "docker run -it --rm -p 8000:8000 $CONTAINER_REGISTRY/$CONTAINER_IMAGE_NAME:latest"

[tasks.push]
depends = ["build"]
run     = "docker push $CONTAINER_REGISTRY/$CONTAINER_IMAGE_NAME --all-tags"
